[Unit]
Description=High-performance, cost-effective and scalable logs storage
After=network.target

[Service]
Type=simple
StartLimitBurst=5
StartLimitInterval=0
Restart=on-failure
RestartSec=10
EnvironmentFile=-/etc/sysconfig/victoria-logs
ExecStart=/usr/bin/victoria-logs -storageDataPath=/var/lib/victoria-logs -retentionPeriod=10y -enableTCP6 $VMLOGS_JOURNALD_CONFIG
ExecStop=/bin/kill -s SIGINT $MAINPID
LimitNOFILE=65536
LimitNPROC=32000
User=victoria-logs
Group=victoria-logs

CapabilityBoundingSet=~CAP_BLOCK_SUSPEND CAP_BPF CAP_CHOWN CAP_MKNOD CAP_NET_RAW CAP_PERFMON CAP_SYS_BOOT CAP_SYS_CHROOT CAP_SYS_MODULE CAP_SYS_NICE CAP_SYS_PACCT CAP_SYS_PTRACE CAP_SYS_TIME CAP_SYS_TTY_CONFIG CAP_SYSLOG CAP_WAKE_ALARM
CapabilityBoundingSet=~CAP_SYS_ADMIN CAP_NET_ADMIN CAP_SETGID CAP_SETUID CAP_SETPCAP
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUser=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictRealtime=true
SystemCallFilter=~@aio:EPERM @chown:EPERM @clock:EPERM @cpu-emulation:EPERM @debug:EPERM @ipc:EPERM @keyring:EPERM @memlock:EPERM @module:EPERM @mount:EPERM @obsolete:EPERM @pkey:EPERM @privileged:EPERM @raw-io:EPERM @reboot:EPERM @resources:EPERM @sandbox:EPERM @setuid:EPERM @swap:EPERM @timer:EPERM

[Install]
WantedBy=multi-user.target
